*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body{
    font-family: 'Lato', sans-serif;
}

/* common-div-part */
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.overflow{
    overflow: hidden;
}
.col-3{width:25%; padding: 15px; float: left;}
.col-4{width: 33.33%; padding: 15px; float: left;}
.col-6{width: 50%; padding: 15px; float: left;}
.col-12{width: 100%; padding: 15px; }



a{
    text-decoration: none;
}
.container {
    width: 1150px;
    margin: auto;
}
.container2 {
    width: 1180px;
    margin: auto;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
/* navbar-part */
nav{
    width: 100%;
    min-height: 120px;
    background-color: #ffffff;
    border-top: 5px solid #4272d7;
    position: sticky;
    top: 0;
    z-index: 100;
    
}

.menu-part .logo{
    float: left;
    padding: 38px 0;
}
.icone {
    float: right;
    margin-top: 50px;
    margin-left: 25px;
    position: relative;
    padding-left: 25px;
    top: 1px;
}
.icone::before{
    background: #cccccc;
    height: 15px;
    width:1px ;
    content: "";
    position: absolute;
    left: 0;
    transition:.36s;
    
}
.icone a:hover{
    color: #4272d7;
    
}

.itam{
    float: right;
}

.itam ul li {
    display: inline-block;
    margin-left: 45px;
    position: relative;
}

.itam ul li a{
    color: #666666;
    text-decoration: none;
    font-size: 15px;
    padding: 50px 0;
    display: block;

}
.itam ul li:hover >a{
    color: #4272d7;
}

/* Dropdown */
.itam ul li ul.dropdown {
    position: absolute;
    background: #000;
    width: 260px;
    height: 100px;
    top: 100%;
    left: 0;
    border-top: 3px solid #4272d7;
    opacity: 0;
    visibility: hidden;
    transition:all .35s linear;
}
.itam ul li:hover ul.dropdown{
    opacity: 1;
    visibility: visible;
    top: 100%;
    height: 200px;
    
}
.itam ul li ul.dropdown li{
    margin: 0;
    display: block;
    border-bottom: 1px solid #666666;
    
    

}

.itam ul li ul.dropdown li a{
    padding: 15px 20px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    
}
.itam ul li ul.dropdown li:hover{
    background-color: #4272d7;
    transition: .3s;
    
    
}
.itam ul li ul.dropdown li a:hover{
    left: 10px;
    position: relative;

}

/* navbar-part end*/

.slider-active{
    width: 100%;
}

.slider {
    text-align: center;
    width: 100%;
    background-size: cover;
    padding: 200px 0;
    text-transform: uppercase;
    
    
    
}

.slider h4{
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    
}
.slider h2{
    font-size: 72px;
    color: #ffffff;
    font-weight: 800;
    padding-bottom: 30px;
    
}
.slider a{
    padding: 15px 40px;
    color: #ffffff;
    text-decoration: none;
    background: #4272d7;
    font-size: 15px;
    transition:.36s;
}
.Banner a:hover{
    background: #22282e;
}
.Banner .owl-carousel .owl-nav button {
    position: absolute;
    top: 43%;
    left: 50px;
    overflow: hidden;
}
.Banner .owl-carousel .owl-nav button span{
    background: #363738;
    font-size: 50px;
    display: block;
    text-align: center;
    line-height: 30px;
    height: 40px;
    width: 40px;
    opacity: .80;
    color: #ffffff;
    
    
}
.Banner .owl-carousel .owl-nav button span:hover{
    background: black;
    
}

.Banner .owl-carousel .owl-nav button.owl-next{
    right: 50px;
    left: auto;
    padding: 15px 15px;
    
} 
.owl-theme .owl-dots {
    position: relative;
    margin-top:-20px;
    bottom: 45px;
    transition: .3s;
    
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #4272d7;
    width: 10px;
    height: 10px;
    
}

/* hire-part */
.hire-part{
    
    background: #4272d7;
    padding:28px 0 ;
    overflow: hidden;
    position: relative;
    top: -13px;
}

.hire-part p{
    float: left;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
}

.hire-part span{
    font-size: 30px;
    

}

.hire-part a{
float: right;
border: 2px solid #ffffff;
padding: 15px 40px;
color: #ffffff;
font-weight: 500;
transition: .3s;
}

.hire-part a:hover{
    background: #666;
}

/* iconbox-container */
.iconbox-section{
    padding:  70px 0;
}

.iconbox-container{
    position: relative;
    overflow: hidden;
    
}


.iconbox-container .iconbox-image img{
    width: 370px;
    height: 280px;
    background-size: cover;
    
}
.iconbox-container .iconbox-contain{
    overflow: hidden;
    padding: 0 20px 31px 30px;
    background-color: rgba(66,114,215,.9);
    position: absolute;
    bottom: 0px;
    width: 370px;
    height: 70px;
    transition: .5s;

}
.iconbox-container .iconbox-contain h1{
    font-size: 18px;
    font-weight: 800px;
    color: #ffffff;
    padding: 20px 0;
    line-height: 30px;
}

.iconbox-container .iconbox-contain h1 span{
    padding-right: 10px;
    font-size: 30px ;
}

.iconbox-container .iconbox-contain p{
    color: #e5e5e5;
    font-size: 15px;
    visibility: hidden;
    opacity: 0;
    margin-bottom:15px ;
    line-height: 25px;
}
.iconbox-container .iconbox-contain a{
    visibility: hidden;
    opacity: 0;
    color: #fff;
    font-size:13px ;
    
}
.iconbox-container .iconbox-contain a span{
    padding-right: 5px;
}

.iconbox-container .iconbox-contain:hover{
    cursor: pointer;
}
.iconbox-contain:hover {
    height: 283px;
    bottom: 0;
}

.iconbox-container .iconbox-contain:hover p{
    visibility: visible;
    opacity: 1;
}

.iconbox-container .iconbox-contain:hover a{
    visibility: visible;
    opacity: 1;
}
/* services  */
.full-section{
    background: #f0f0f0;
    overflow: hidden;
    padding:20px 0;
}
.header-text {
    text-align: center;
    padding: 50px 0;
}
.header-text h1{
    font-size: 26px;
    font-weight: 600;
    color: #333333;
}
.header-text .border-button{
    width: 39px;
    height: 2px;
    background-color: #adadad;
     margin:10px auto;
    
}

.sarvise-part{
    overflow: hidden;
    
}
.services{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}
.services .services-icone i {
    font-size: 26px;
    height: 50px;
    width: 50px;
    color: #ffffff;
    background: #4272d7;
    text-align: center;
    line-height: 50px;
    transition: .5s;
}
.services .services-icone i:hover {
    background: #ffffff;
    color: #4272d7;
}
.services-text{
    padding-left: 10px;
    
}
.services-text h1{
    font-size:16px;
    font-weight: 900;
    
}
.services-text p{
    margin-top: 10px;
    font-size:15px;
    color: #666;
}


/* sub-salide */
.project-area{
    padding: 70px 70px ;
    background: #000;
}
.project-warper{
    position: relative;
}

.project-img{
    position: relative;
}
.project-img::before{
    background: #4272d7;
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
    
}
.project-warper:hover .project-img::before{
    opacity: 0.9;
    visibility: visible;
}
.project-img img{
    width: 100%;
}
.project-container{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    right: 0;

}
.project-container a{
    font-size: 16px;
    color:#ffffff;
    font-weight: 600;
    margin-bottom: 20px;
    display: inline-block;
}

.project-container span{
    font-size: 13px;
    color:#ccc;
    font-weight: 400;
}
.carousel-wrap {
  margin: 90px auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}

/* CHOOSE */
.choose{
    overflow: hidden;
    padding-bottom: 35px;
    padding-top: 45px;
}
.main-contain{
    overflow: hidden;
}
.choose-video{
    position: relative;
}
.choose-video img{
    width: 100%;
}

.choose-video a{
    text-align: center;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    font-size: 67px;
    transform: translateY(-50%);
    color: #ffffff;
}
.choose-containt{
    margin-bottom: 30px;
}
.containt-part{
    display: flex;
    

}
.choose-heading h1{
    margin-left: 10px;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 10px;

}
.choose-containt p{
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: #666;
}

/* hire-me */
.hire-me{
    background: #f0f0f0;
    overflow: hidden;
}
.hire-all{
    width: 100%;
    height: 575px;
}
.hire-me-contain{
    text-align: center;
    margin-top: 288px;
    
    
}
.hire-me-contain p{
    font-size: 20px;
    color: #555;
    font-weight:600;
}
.hire-me-contain a{
    padding: 15px 40px;
    color: #ffffff;
    text-decoration: none;
    background: #4272d7;
    font-size: 15px;
    transition:.36s;
    overflow: hidden;
    margin-top: 20px;
    display:inline-block;
}
.hire-me-contain a:hover{
    background: #22282e;
}
.hire-me-image img{
    width: 100%;
}

/* blog */
.rivew{
    overflow: hidden;
    padding-top: 51px;
    padding-bottom: 61px;
}

.blog-type h1{
    font-size: 26px;
    font-weight: 600;
    color: #333333;
}
.blog-border{
    width: 39px;
    height: 2px;
    background-color: #adadad;
     margin:10px 0;
}
.blog-part{
    overflow: hidden;
    margin-top: 20px;
}
.blog-img{
    position: relative;
}
.blog-img img{
    width: 100%;
    display: block;
}
.image-hadin {
    font-size: 11px;
    background: #000 ;
    position: absolute;
    width: 100%;
    height: 25px;
    opacity: 0.5;
    color: #ffffff;
    text-align: center;
    line-height: 25px;
    bottom: 0;
    left: 0;
}
.blog-sub{
    display: flex;
    justify-content: space-between;

}
.blog-part{
    display: flex;
    justify-content: space-between;
}
.blog-contain{
    margin-left: 20px;
}
.blog-contain h1{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.blog-contain p {
    font-size: 15px;
    color: #666;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 25px;
}
.bloog-footer span{
    font-size: 13px;
    color: #777;
    
}
.red-more span{
    font-size: 13px;
    color: #777;
}

.rivew .owl-carousel .owl-nav button {
    position: absolute;
    top: -54px;
    left: 265px;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid #cccccc;
}

.rivew .owl-carousel .owl-nav button span{
    background: #ffffff;
    font-size: 30px;
    display: block;
    text-align: center;
    line-height: 15px;
    height: 20px;
    width: 20px;
    opacity: .80;
    color: #cccccc;
    
    
    
}
.rivew  .owl-carousel .owl-nav button span:hover{
    background: black;
    
}

.rivew .owl-carousel .owl-nav button.owl-next{
    right: 235px;
    left: auto;
    padding: 15px 15px;
    
} 


/* TESTIMONIALS */
.contain-part{
    margin-top: 20px;
}

.contain-part .testimonials-contain-text{
    display: flex;
    position: relative;
}

.testimonials-contain-text span {
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 12px;
    right: -22px;
    z-index: 999;
    color: #cccccc;
}

.testimonials-contain-text p{
    font-size: 15px;
    color: #555;
    font-weight: 400;
    margin-left: 25px;
    line-height: 25px;
}


.testimonials-profle{
    overflow: hidden;
    
}
.testimonials-img{
    width: 14%;
}
.testimonials-img img{
    width: 14%;
    float: left;
    padding-left: 20px;
}
.testimonials-name {
    float: left;
    padding-left: 20px;
}

.testimonials-name h1{
    font-size: 16px;
    font-weight: 800;
    line-height: 25px;
}

.testimonials-name span{
    font-size: 13px;
    color: #555;
}

/* responser */

.responser{
    background: #f0f0f0;
    padding-bottom: 25px;
    padding-top: 25px;
}
.pather{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    color: #f0f0f0;
}


/* footer */

.footer-part{
    background-color:#171a21;
    overflow: hidden;
    padding: 60px 0;
}
.bemax-footer p{
    font-size: 13px;
    color: #999;
    margin-top:35px;
}
.bemax-footer span a{
    display: inline-block;
    text-align: center;
    width: 36px;
    height: 36px;
    line-height: 38px;
    background-color: #1c2334;
    border-radius: 100%;
    color: #ffffff;
    margin-right: 8px;
    margin-top: 20px;
}
.bemax-footer span a:hover{
    background: #4272d7;
}

.future h1{
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    padding-bottom: 35px;
}
ul.square {
    list-style-type: square;
}

.future ul li{
    display: block;
    font-size: 13px;
    margin-top: 20px;
}

.future ul li::before{
    transform: translateY(-3px);
    content: '';
    width: 5px;
    height: 5px;
    background-color: rgba(255,255,255,.2);
    display: inline-block;
    margin-right: 8px;
}
.future ul li a{
    color: #999;
}
.contact h1{
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    padding-bottom: 35px;
}
address{
    font-size: 13px;
    color: #999;
}
.contact span{
    display: block;
    font-size: 13px;
    color: #999;
    margin-top: 20px;
}
.newslleter h1{
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    padding-bottom: 35px;
}

.newslleter p{
    font-size: 13px;
    color: #999;
}

.input-group {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  
  .input {
    min-height: 40px;
    max-width: 140px;
    padding: 0 1rem;
    color: #666;
    font-size: 15px;
    border: 1px solid #2f3138;
    background: #2f3138;
}
  
.button--submit {
    min-height: 40px;
    padding: 0.5em 1em;
    border: none;
    background-color: #4272d7;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}
  
  
  .button--submit:hover {
    background-color: #ffffff;
    color: #4272d7;
  }
  
  .input:focus, .input:focus-visible {
    outline: none;
  }
  .copyright{
    display: block;
    background: #171a21;
    
  }
  .border-contain{
    border-top: 1px solid #333;
  }
  .copright-text p{
    color: #999;
    text-align: center;
    padding: 30px 0;
  }