*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}

body{
    font-family: 'Lato', sans-serif;
}

/* common-div-part */
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.overflow{
    overflow: hidden;
}
.col-4{width: 33.10%;}

a{
    text-decoration: none;
}
.container {
    width: 1150px;
    margin: auto;
}
.container2 {
    width: 1180px;
    margin: auto;
}
/* navbar-part */
nav{
    width: 100%;
    min-height: 120px;
    background-color: #ffffff;
    border-top: 5px solid #4272d7;
    position: sticky;
    top: 0;
    z-index: 100;
    
}

.menu-part .logo{
    float: left;
    padding: 38px 0;
}
.icone {
    float: right;
    margin-top: 50px;
    margin-left: 25px;
    position: relative;
    padding-left: 25px;
    top: 1px;
}
.icone::before{
    background: #cccccc;
    height: 15px;
    width:1px ;
    content: "";
    position: absolute;
    left: 0;
    transition:.36s;
    
}
.icone a:hover{
    color: #4272d7;
    
}

.itam{
    float: right;
}

.itam ul li {
    display: inline-block;
    margin-left: 45px;
    position: relative;
}

.itam ul li a{
    color: #666666;
    text-decoration: none;
    font-size: 15px;
    padding: 50px 0;
    display: block;

}
.itam ul li:hover >a{
    color: #4272d7;
}

/* Dropdown */
.itam ul li ul.dropdown {
    position: absolute;
    background: #000;
    width: 260px;
    height: 100px;
    top: 100%;
    left: 0;
    border-top: 3px solid #4272d7;
    opacity: 0;
    visibility: hidden;
    transition:all .35s linear;
}
.itam ul li:hover ul.dropdown{
    opacity: 1;
    visibility: visible;
    top: 100%;
    height: 200px;
    
}
.itam ul li ul.dropdown li{
    margin: 0;
    display: block;
    border-bottom: 1px solid #666666;
    
    

}

.itam ul li ul.dropdown li a{
    padding: 15px 20px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    
}
.itam ul li ul.dropdown li:hover{
    background-color: #4272d7;
    transition: .3s;
    
    
}
.itam ul li ul.dropdown li a:hover{
    left: 10px;
    position: relative;

}

/* navbar-part end*/

.slider-active{
    width: 100%;
}

.slider {
    text-align: center;
    width: 100%;
    background-size: cover;
    padding: 200px 0;
    text-transform: uppercase;
    
    
    
}

.slider h4{
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    
}
.slider h2{
    font-size: 72px;
    color: #ffffff;
    font-weight: 800;
    padding-bottom: 30px;
    
}
.slider a{
    padding: 15px 40px;
    color: #ffffff;
    text-decoration: none;
    background: #4272d7;
    font-size: 15px;
    transition:.36s;
}
.slider a:hover{
    background: #22282e;
}
.owl-carousel .owl-nav button {
    position: absolute;
    top: 43%;
    left: 50px;
    overflow: hidden;
}
.owl-carousel .owl-nav button span{

    background: #363738;
    
    font-size: 50px;
    display: block;
    text-align: center;
    line-height: 30px;
    height: 40px;
    width: 40px;
    opacity: .80;
    color: #ffffff;
    
    
}
.owl-carousel .owl-nav button span:hover{
    background: black;
    
}

.owl-carousel .owl-nav button.owl-next{
    right: 50px;
    left: auto;
    
    
} 
.owl-theme .owl-dots {
    position: relative;
    margin-top:-20px;
    bottom: 45px;
    transition: .3s;
    
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #4272d7;
    width: 10px;
    height: 10px;
    
}

/* hire-part */
.hire-part{
    
    background: #4272d7;
    padding:28px 0 ;
    overflow: hidden;
    position: relative;
    top: -13px;
}

.hire-part p{
    float: left;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
}

.hire-part span{
    font-size: 30px;
    

}

.hire-part a{
float: right;
border: 2px solid #ffffff;
padding: 15px 40px;
color: #ffffff;
font-weight: 500;
transition: .3s;
}

.hire-part a:hover{
    background: #666;
}

/* iconbox-container */
.iconbox-section{
    padding:  70px 0;
}

.iconbox-container{
    padding:0 15px;
    position: relative;
    overflow: hidden;
    
}


.iconbox-container .iconbox-image img{
    width: 370px;
    height: 280px;
    background-size: cover;
    
}
.iconbox-container .iconbox-contain{
    overflow: hidden;
    padding: 0 20px 31px 30px;
    background-color: rgba(66,114,215,.9);
    position: absolute;
    bottom: 0px;
    width: 370px;
    height: 70px;
    transition: .5s;

}
.iconbox-container .iconbox-contain h1{
    font-size: 18px;
    font-weight: 800px;
    color: #ffffff;
    padding: 20px 0;
    line-height: 30px;
}

.iconbox-container .iconbox-contain h1 span{
    padding-right: 10px;
    font-size: 30px ;
}

.iconbox-container .iconbox-contain p{
    color: #e5e5e5;
    font-size: 15px;
    visibility: hidden;
    opacity: 0;
    margin-bottom:15px ;
    line-height: 25px;
}
.iconbox-container .iconbox-contain a{
    visibility: hidden;
    opacity: 0;
    color: #fff;
    font-size:13px ;
    
}
.iconbox-container .iconbox-contain a span{
    padding-right: 5px;
}

.iconbox-container .iconbox-contain:hover{
    cursor: pointer;
}
.iconbox-contain:hover {
    height: 283px;
    bottom: 0;
}

.iconbox-container .iconbox-contain:hover p{
    visibility: visible;
    opacity: 1;
}

.iconbox-container .iconbox-contain:hover a{
    visibility: visible;
    opacity: 1;
}