@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Rubik:wght@400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header-part-start */
/* menu-bar-start  */
.monu-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
.logo-img img{
  padding-left: 73px;
  width: 100%;
}
.all-itams ul li{
  display: inline-block;
  line-height: 1;
  
}
.all-itams ul li a{
  font-size: 14px;
  font-weight: 600;
  color: #343434;
  padding:42px 30px;
  display: inline-block;
}
a.btn{
  padding: 18px 55px;
  border: 1px solid #505cfd;
  border-radius: 30px;
  margin: 0 42px;
  font-weight: 600;
}
a.btn:hover{
  border: 1px solid #505cfd;
}
/* menu-bar-end  */
/* bannerpart-start */
.banner-img{
  position: relative;
}
.banner-img{
  background-image: url(/img/slider1.png);
  width: 100%;
  height: 135vh;
  background-size: cover;
  background-position: top;
}
.selider-contain{
  text-align: center;
}
.selider-contain h1{
  font-size: 72px;
  
}
.banner-icone a{
  padding-left: 20px;
  font-size: 18px;
  color:#505cfd ;
}
/* bannerpart-end */
/* featerus-start */
.featerus {
  margin-top: -140px;
  z-index: 999;
  position: relative;
}

/* featerus-end */
/* header-part-start */